
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-light-webfont.woff2") format("woff2"),
    url("../fonts/metropolis-light-webfont.woff") format("woff");
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-lightitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/metropolis-lightitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-regular-webfont.woff2") format("woff2"),
    url("../fonts/metropolis-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-regularitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/metropolis-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-medium-webfont.woff2") format("woff2"),
    url("../fonts/metropolis-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-mediumitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/metropolis-mediumitalic-webfont.woff2") format("woff");
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-semibold-webfont.woff2") format("woff2"),
    url("../fonts/metropolis-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-semibolditalic-webfont.woff2")
      format("woff2"),
    url("../fonts/metropolis-semibolditalic-webfont.woff2")
      format("woff");
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-bold-webfont.woff2") format("woff2"),
    url("../fonts/metropolis-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-bolditalic-webfont.woff2")
      format("woff2"),
    url("../fonts/metropolis-bolditalic-webfont.woff2") format("woff");
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-black-webfont.woff2") format("woff2"),
    url("../fonts/metropolis-black-webfont.woff") format("woff");
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis-blackitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/metropolis-blackitalic-webfont.woff2") format("woff");
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:normal&display=swap");
