body {
    //Fashionphile Common Colors
    --black-color: black;
    --white-color: white;
    --transparent: transparent;
    --mercury-gray: #e5e5e5;
    --emperor-gray: #4f4f4f;
    --vanilla-ice-pink: #f3dce6;
  
    //Etc colors
    --scorpion-gray: #595959;
  
    //component colors
    --input-border-color: #ccc;
  
    //z-index
    --overlay-blur: 9997;
    --overlay-container: 9998;
    --overlay-buttons: 9999;
  }
  